*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.body{
    display: flex;
}
.maca{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}

.comer{
    width: 400px;
    margin: 0 auto;
}
.embaixada{
    width: 400px;
}
.dentes{
    width: 400px;
}
.maca{
    width: 400px;
}